/* Main Styles */
body {
  font-family: "Grandstander", cursive;
}

header {
  height: 200px;
}

h1 {
  padding-top: 2rem;
  font-size: 5rem;
}

h1,
h2,
.card p {
  text-align: center;
}

h2,
.card p {
  font-size: 3rem;
}

footer {
  padding-top: 0.5rem;
}

/* Components */
.card {
  width: 40%;
  min-width: 500px;
  height: 700px;
  color: white;
  background-image: url(img/space.jpg);
  background-size: cover;
  background-color: #b0c4de;
  box-shadow: 10px 10px 8px #888888;
  border-radius: 5px;
  padding: 1.5rem;
}

#problem {
  padding-top: 10%;
  padding-bottom: 10%;
  border-radius: 15px;
}

#problem,
label {
  background-color: black;
  opacity: 0.8;
}

main.flex-container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
}

form.flex-container {
  display: flex;
  justify-content: center;
}

label {
  font-size: 2rem;
  padding: 0.5rem;
}

#submit-button,
#get-new-problem-btn {
  font-size: 1.2rem;
  border: 2px solid white;
  margin-left: 0.5rem;
  border-radius: 7px;
  padding: 1rem;
}

#submit-button {
  color: black;
  background-color: #ffd447;
}

#submit-button,
#get-new-problem-btn {
  cursor: pointer;
}

#get-new-problem-btn {
  color: white;
  background-color: #390099;
}

#answer-field {
  font-size: 1rem;
  border-radius: 5px;
  text-align: right;
}

#correct {
  color: greenyellow;
  background-color: rgba(0, 0, 0, 0.75);
}

#incorrect {
  color: firebrick;
  background-color: rgba(0, 0, 0, 0.75);
}

@media (max-width: 840px) {
  h1 {
    font-size: 4rem;
  }
}

@media (max-width: 676px) {
  h1 {
    font-size: 3.5rem;
  }
}
